name: run-tests
on: [push, pull_request]

jobs:
  build-deploy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v1

    - name: make run
      run: make run

    - name: make lib
      run: |
        make clean
        make -C lib

    - name: Upload
      uses: actions/upload-artifact@master
      with:
        name: compiled-${{ matrix.os }}
        path: .
